{% extends "base.html" %}

{% block title %}游戏中心 - ZLX Chatroom{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>游戏中心</h1>
        <p>这里是游戏模块。</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">示例游戏 1</h5>
                        <p class="card-text">一个简单的猜数字游戏。</p>
                        <a href="#" class="btn btn-primary">开始游戏</a>
                    </div>
                </div>
            </div>
            <!-- 更多游戏卡片 -->
        </div>
    </div>
</div>
{% endblock %}
